@import "themes/default.scss";
@import "partials/utils";
.q-notifications{
    min-height: 73px;
    font-size: 14px;
    &.danger{
        border-left: 8px solid $themeDangerAlertBorderColor;
    }
    &.info{
        border-left: 8px solid $themeInfoAlertBorderColor;
    }
    &.success{
        border-left: 8px solid $themeSuccessAlertBorderColor;
    }
    &.warning{
        border-left: 8px solid $themeWarningAlertBorderColor;
    }
    margin-bottom: 1em;
    width: 100%;
    box-shadow: 0 15px 24px -15px rgba(37, 38, 94, 0.1);
    background-color: $themePrimaryColor;
    border-top: 0.5px solid $themeNotifTopBorderColor;
    border-radius: $radius5 !important;
    &.slide-out{
        animation: pulses 0.2s linear;
    }
    &.slide-in{
        animation: pulse 0.2s linear;
    }
    &.slide-down{
      animation: down 0.2s linear;
    }
    &.slide-up{
      animation: up 0.2s linear;
    }
    .notification-message{
      overflow: hidden;
      word-break: break-all;
      @extend .vAlignMid;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    .notification-icon {
        i{
          font-weight: 700 !important;
          font-size: 25px;
          @extend .vAlignMid;
        }
        &.danger{
          color: $themeDangerAlertIconColor;
        }
        &.warning{
          color: $themeWarningAlertIconColor;
        }
        &.success{
          color: $themeSuccessAlertIconColor;
        }
        &.info{
          color: $themeInfoAlertIconColor;
        }
    }
    .query-progress{
        @extend .mb10;
        cursor: pointer;
    }
    .notification-action{
        border: 0px;
        font-weight: bold;
        font-size: 12px;
        outline: 0px;
        float: right;
        @extend .vAlignMid, .ptb5lr10;
        border-radius: $radius5 !important;
        &.danger{
          background-color: $themeDangerAlertBackgroundColor;
          color: $themeDangerAlertTextColor;
        }
        &.warning{
          background-color: $themeWarningAlertBackgroundColor;
          color: $themeWarningAlertTextColor
        }
        &.success{
          background-color: $themeSuccessAlertBackgroundColor;
          color: $themeSuccessAlertTextColor;
        }
        &.info{
          background-color: $themeInfoAlertBackgroundColor;
          color: $themeInfoAlertTextColor;
        }
    }
    .close-notification{
      float: right;
      font-size: 21px;
      font-weight: bold;
      line-height: 1;
      color: $themeSecondaryColor;
      text-shadow: 0 1px 0 $themePrimaryColor;
      filter: alpha(opacity=20);
      opacity: .2;
      position: relative;
      top:-15px;
      left: 9px;
      cursor: pointer;
      border: 0;
      @extend .removeMargin, .removePadding;
    }
}
/*key frames*/
@keyframes pulse {
  0% {
    margin-left: 100%;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes pulses {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes down {
  0% {
    margin-bottom: -1em;
  }
  100%{
    margin-bottom: 1em;
  }
}

@keyframes up {
  0% {
    margin-bottom: 1em;
  }
  100%{
    margin-bottom: -1em;
  }
}
