# This is a sample build configuration for JavaScript.
# Check our guides at https://confluence.atlassian.com/x/14UWN for more examples.
# Only use spaces to indent your .yml configuration.
# -----
# You can specify a custom docker image from Docker Hub as your build environment.
image: node:6.9.4

pipelines:
 branches:
   master:
    - step:
        caches:
          - node
        script: # Modify the commands below to build your repository.
          - npm install -g ember-cli
          - npm install -g bower
          - npm install
          #- bower install
          - ember build
          - ember test
