@import "themes/default";

.s-button {
  .btn {
    border-radius: 5px !important;
    box-shadow: 0 15px 24px -15px rgba(193, 193, 193, 0.5);
    border-color: transparent !important;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
  }

  .icon {
    width: 18px !important;
    height: 18px !important;
  }


  .btn-primary {
    background-color: $themePrimaryColor;

    &:hover:not([disabled]) {
      background: $themeFifthColor;
    }
  }

  :disabled {
    background: $themeFourthGrey;
  }

  .btn-secondary {
    background-color: transparent;
    box-shadow: 0 15px 24px -15px rgba(193, 193, 193, 0.5) !important;
    border: solid 1px $themePrimaryGrey !important;
    color: $themePrimaryGrey;

    &:hover:not([disabled]) {
      background-color: $themePrimaryWhite;
    }
  }
}
