.s-tag.container {
  padding: 4px 12px;
  color: $themePrimaryGrey;
  text-align: center;
  background: $q-sky;
  border-radius: $radius5;
}

.s-tag {
  .cross {
    width: 12px;
  }
}

&.important{
  background: $q-sky;
  color: $themePrimaryGrey;
  font-weight: bold;
}

&.success{
  background: $themeSuccessBackground;
  color: $themeSuccessTextColor;
  font-weight: bold;
}

&.danger{
  background: $themeDangerBackground;
  color: $themeErrorTextColor;
  font-weight: bold;
}

&.warning{
  background: $themeWarningColor;
  color: $themeWarningTextColor;
  font-weight: bold;
}

