@import "partials/mixins";
.qu-progress{
   display: flex;
   .progress-text{
       display: inline-flex;
   }
   .progress {
     flex: 1;
     @include border-radius(3px);
     height: 6px;
   }
}
