/**
* @author: Shubham
* Color Schemes
* Define all your color here
*/
//----------------------------------------------------------------
// Grayshades
// -------------------------
$black: #000;
$blackOne: #006dcc;
$blackTwo: #0172B4;
$blackShade: #3d3d3d;
$blackShadeTwo: #0d0d0d;
$grayDarker: #262a35;
$grayDarkerOne: #2c8df3;
$grayDarkerTwo: #222222;
$grayDark: #33363f;
$gray: #666666;
$grayOne: #5e5e5e;
$greyishBrown: #3c3c3c;
$grayBlackish: #505050;
$grayBlackTwo: #5f5f5f;
$grayBlackThree: #828282;
$grayBlackFour: #737373;
$greyBlackFive: #f4f6f8;
$grayBlackSix: #383838;
$grayBlackSeven: #eeeeee;
$grayBlackEight: #404040;
$grayBlackShadeEight: #4A4A4A;
$grayBlackNine: #a2a1a1;
$greyBlackTen: #7a7a7a;
$greyBlackEleven: #727070;
$warmGrey: #979797;
$grayTwo: #c2c1c1;
$grayThree: #ccc;
$grayFour: #c9c9c9;
$grayLight: #939393;
$grayLighterOne: #989898;
$grayLighterTwo: #999999;
$grayLighterThree: #9b9b9b;
$grayLightOne: #9e9e9e;
$grayLightTwo: #d5d5d5;
$grayLightThree: #d4d4d4;
$grayLightFour: #e8e2e2;
$grayLighter: #f9f9f9;
$whiteShade: #ebeeee;
$grayShadeOne: #f4f4f4;
$grayShadeTwo: #f8f8f8;
$whiteLighter: #fafafa;
$white: #fff;
$whiteGreyDark: #e5e5e5;
$whiteGreyish: #e8e8e8;
$whiteGreyLight: #efefef;
$whiteOne: #f1f1f1;
$whiteFour: #fbfbfb;
$whiteSeven: #ff6757;
$pinkishGrey: #cdcdcd;
$secondaryGrey: #6b6b6b;
// Accent colors
// -------------------------
$skyBlue: #6aa1f7;
$lavender: #bf9df0;
$blue: #07b;
$blueDark: #057cb4;
$blueLightOne: #4990e2;
$blueLightTwo: #12aabb;
$green: #32cc73;
$pink: #e84c8a;
$orange: #fa603d;
$lightOrange: #fad25b;
$redDark: #c00;
$red: #f64444;
$yellow: #fcbc00;
$yellowOne: #ffff99;
$blueDarker: #33363f;
$blueDarkerOne: #0273b4;
$khaki: #f0e79d;
$greishBrown: #3c3c3c;
$oceanBlue: #5183bd;
$whiteTwo: #f2f2f2;
$whiteSix: #eaeaea;
$yellowTwo: #f7da83;
$greenish: #26a08e;
$bluish: #25265e;
$navyBlue: #4f7ecb;
$lightBlue: #d2e8f8;
$lightGrey: #a2a2a2;
$lighterBlue: #8faee0;
$yellowThree: #fcc114;
$whiteFive: #d0d0d0;
$greyLight: #f3f3f3;
$greyMuted: #858585;
$blueLight: #f2f9ff;
$aliceBlue: #F0F8FF;
//Sidebar
$sbGreyLight: #f6f6f6;
//estimateQueryType
$qtyellow: #fff68c;
$qtred: #bf3d11;
$errorMssgRed: #b94a48;
//queryStatusColors
$brown: #8C4600;
$qsRed: #ff0000;
$qsGreen: #00aa00;
//Noty colors
$credsEmptyNotif: #fffdd6;
//Log Highight
$redMaroon: #4f2625;
$brownDark: #594c2f;
$pinkLight: #ffd7d6;
$sunYellow: #fff2d6;
// Space Color
// ----------------
$borderColor:#dae1e8;
$masqNotif: #ffa93c;
$cerulean:#12aaeb;
$qu-dusk-blue: #2b5e93;
$qu-dark-blue: #19143c;
$qu-cool-green: #2dc76d;
$qu-vermillion-red: #df3d11;
$qu-beige-red: #e2b5a8;
$squash: #f5a623;
$azure: #049ee0;
$qu-charcoal-grey: #424b52;
$qu-bluish-grey: #86929e;
$black: #333333;
$white: #ffffff;
$qu-grey-disabled: #d9d9d9;
$qu-dark-brown: #8a6100;
$qu-light-tan-yellow: #fce2b7;
$qu-pine-green: #145c32;
$qu-light-sage: #dff7e9;
$qu-brown-red: #8d2607;
$qu-ice-blue: #f2faff;
$ice-blue: #edf8ff;
$cloudy-blue: #c3cdd7;
$silver: #c4cdd5;
$textGray: #434343;
$azure-light: #049ee0;
$q-sky: #e0f0f6;
