@import "themes/default";

%title {
  font-size: 18px;
  font-weight: bold;
  color: $themePrimaryGrey;
}

%caption {
  font-size: 16px;
  color: $themeSecondaryGrey;
  letter-spacing: 0.2px;
}

.fs14 {
  font-size: 0.875rem;
}

.fs25 {
  font-size: 1.563em !important;
}

.fs21 {
  font-size: 1.313em !important;
}

.fs16 {
  font-size: 1em;
}

.fs12 {
  font-size: 0.75em;
}

.fs11 {
  font-size: 0.6875em;
}

.fs10 {
  font-size: 0.625em;
}

h1, h2 {
  color: $qu-charcoal-grey;
}

h6 {
  color: $qu-charcoal-grey;
}

strong {
  color: $qu-charcoal-grey;
}

.h-text-bold {
  font-size: 18px;
  font-weight: bold;
}
