<div class="head p5" onclick={{action onToggle key isActive}}>
    {{s-icon class="chevron" name=(if isActive 'chevron-up' 'chevron-down') }}
    <span class="title fs14">{{title}}</span>
</div>
{{#if isActive}}
    <div class="body">
        {{yield}}
    </div>
{{/if}}