{{#if (eq type "continuous")}}
  <div data-test-id={{data-test-id}}
    class="s-loader">
  </div>
{{/if}}

{{#if (eq type "circle")}}
  <div data-test-id={{data-test-id}}
    class="s-circle d-inline-block {{size}}"
  >
  </div>
{{/if}}