<div class="justify-content-center align-items-center d-flex step-container" {{action 'callback'}}>
    <span class="round-status text-center content">
        <span class="number">{{key}}</span><span class="icon">{{s-icon cssClasses=(concat "icon " iconName) name=iconName}}</span>
    </span>
    <span class="title content">{{title}}</span>
    <hr class="separator ml5 mr10 d-inline" />
</div>
<div class="line"></div> 