<table class="table table-sm" data-test-id={{data-test-id}}>
  <thead>
    <tr>
      {{#each heads as |h index|}}
        <th scope="col fs14">{{h.title}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each data as |d index|}}
      <tr>
        {{#each-in d as |key value|}}
          <td>{{{value}}}</td>
        {{/each-in}}
      </tr>
    {{/each}}
  </tbody>
</table>