  <span
    data-test-id={{data-test-id}}
    onclick={{action "onClear"}}>
    {{yield}}
    {{#if onClose}}
      {{s-icon
        cssClasses="cross"
        name="x-circle"}}
      {{/if}}
    </span>
