<div class={{cssClasses}}>
  {{#each events as |data index|}}
    {{#s-timeline/event
      ascending=ascending
      index=index
      data=data
      class=data.status
      cssClasses=data.status
      toggleEvent=(action "toggleEvent")
    as |event|
    }}
      {{yield event}}
    {{/s-timeline/event}}
  {{/each}}
</div>