<h2 id="title">Welcome to Ember</h2>
{{#s-button actionName='test' className="btn-primary float-left" data-dismiss="modal" }}dasdas{{/s-button}}
{{s-notification-container}}
{{s-progress width="20" cssClasses="query-progress"}}
{{outlet}}
