{{docs-header}}

{{docs-hero
  prefix='Ember'
  heading='Space UI'
  byline='Qubole Design System'}}

<div class='row mt20'>
  <div class="col-4"></div>
  <div class='col-4'>
    Building Standards in Color Palettes, Typographic Scales,
    Grid Definition, Icons and Assets and also maintaining UI Patterns Templates, Modules, Components and Elements in the
    Product.
  </div>
  <div class="col-4"></div>
</div>