& {
    .steps-select-container {
        li {
            display: inline-block;
        }

        li:last-child {
            hr {
                display: none !important;
            }
        }
    }
}