/**
* @author: Manzoor
*/
// Modules and Variables
.ember-application {
  // font-family: HelveticaNeue, Helvetica, Arial, sans-serif !important;
}

// Partials
@import "../partials/color";
// // @import "../partials/placeholder";
@import "../partials/margin";
@import "../partials/padding";
@import "../partials/headerOverides";
// @import "./common";
//Theme Colors
$themePrimaryColor: $azure;
$themeTertiaryColor: $qu-dark-blue;
$themeFourthColor: $cloudy-blue;
$themeFifthColor: $qu-dusk-blue;
$themePrimaryWhite: $white;
$themeSecondaryWhite: $whiteLighter;
$themePrimaryGrey: $qu-charcoal-grey;
$themeDisableGreyColor: $grayLightThree;
$themeSecondaryGrey: $secondaryGrey;
$themeTertiaryGrey: $silver;
$themeFourthGrey: $qu-grey-disabled;
$themeFifthGrey: $grayThree;
$themeSecondaryColor: $black;
$themeBackgroundPrimary: $white;
$themeBackgroundSecondory: $grayLighter;
$themeBackgroundThird: $greyBlackFive;
$themeSidebarLabelTextColor: $grayBlackFour;
$themeSidebarItemHoverActiveColor: $greyBlackFive;
$themeIconStateColor: $greyBlackTen;
$themeIconHoverColor :$blueLightOne;
$themeNavBarColor: $sbGreyLight;
$themeBorderColor: $grayLightFour;
$themePaleGrey: $ice-blue;
$themeLogHighlightFontFamily: 'Consolas, Monaco,monospace';
//theme-text
$themeTitlePrimaryColor: $grayOne;
$themeSubtitleColor: $qu-bluish-grey;
$themeSectionText: $textGray;
//utils
$radius5: 5px;

$themeWarningColor: $qu-light-tan-yellow;
$themeWarningTextColor: $qu-dark-brown;
$themeErrorColor: $qu-vermillion-red;
$themeErrorTextColor: $qu-brown-red;

$tableHeadColor: #f5f5f5;
