/**
* @author: Manzoor
*/
// Modules and Variables
.ember-application {
  // font-family: HelveticaNeue, Helvetica, Arial, sans-serif !important;
}

// Partials
@import "../partials/color";
// // @import "../partials/placeholder";
@import "../partials/margin";
@import "../partials/padding";
@import "../partials/headerOverides";
@import "../partials/mixins";
// @import "./common";
//Theme Colors
$themePrimaryColor: $azure;
$themeTertiaryColor: $qu-dark-blue;
$themeFourthColor: $cloudy-blue;
$themeFifthColor: $qu-dusk-blue;
$themePrimaryWhite: $white;
$themeSecondaryWhite: $whiteLighter;
$themePrimaryGrey: $qu-charcoal-grey;
$themeDisableGreyColor: $grayLightThree;
$themeSecondaryGrey: $secondaryGrey;
$themeTertiaryGrey: $silver;
$themeFourthGrey: $qu-grey-disabled;
$themeFifthGrey: $grayThree;
$themeSecondaryColor: $black;
$themeBackgroundPrimary: $white;
$themeBackgroundSecondory: $grayLighter;
$themeBackgroundThird: $greyBlackFive;
$themeSidebarLabelTextColor: $grayBlackFour;
$themeSidebarItemHoverActiveColor: $greyBlackFive;
$themeIconStateColor: $greyBlackTen;
$themeIconHoverColor :$blueLightOne;
$themeNavBarColor: $sbGreyLight;
$themeBorderColor: $grayLightFour;
$themePaleGrey: $ice-blue;
$themeLogHighlightFontFamily: 'Consolas, Monaco,monospace';
//theme-text
$themeTitlePrimaryColor: $grayOne;
$themeSubtitleColor: $qu-bluish-grey;
$themeSectionText: $textGray;
//utils
$radius5: 5px;
$radius30: 30px;

$themeWarningColor: $qu-light-tan-yellow;
$themeWarningTextColor: $qu-dark-brown;
$themeErrorColor: $qu-vermillion-red;
$themeErrorTextColor: $qu-brown-red;

$tableHeadColor: #f5f5f5;

/* SPACE UI : Alert : Danger */
$themeDangerAlertBackgroundColor           : $qu-beige-red;
$themeDangerAlertTextColor                 : $qu-brown-red;
$themeDangerAlertLeftPanelColor            : transparent;
$themeDangerAlertIconColor                 : $qu-vermillion-red;
$themeDangerAlertBorderColor               : $qu-vermillion-red;

/* SPACE UI : Alert : Warning */
$themeWarningAlertBackgroundColor: $qu-light-tan-yellow;
$themeWarningAlertBorderColor: $squash;
$themeWarningAlertIconColor: $squash;
$themeWarningAlertTextColor: $qu-dark-brown;

/*SPACE UI: Alert: Info*/
$themeInfoAlertBackgroundColor: $azure;
$themeInfoAlertBorderColor: $azure;
$themeInfoAlertIconColor: $azure;
$themeInfoAlertTextColor: $white;

/*SPACE UI: Alert: Success*/
$themeSuccessAlertBackgroundColor: $qu-light-sage;
$themeSuccessAlertBorderColor: $qu-cool-green;
$themeSuccessAlertIconColor: $qu-cool-green;
$themeSuccessAlertTextColor: $qu-pine-green;

/*SPACE UI : notifications*/
$themeNotificationFooterColor: $azure;
$themeNotificationFooterBgColor:$azure-light;
$themeNotifClearAllBorderColor: $qu-charcoal-grey;
$themeNotifClearAllHoverBgColor: $whiteTwo;
$themeNotifTopBorderColor: $grayShadeTwo;
