@import "./event/datetime";
@import "./event/content";

.s-timeline-event {
    display: table-row;
    position: relative;

    .s-timeline-event-datetime {
      display: table-cell;
      white-space: nowrap;
    }

    .s-timeline-event-content {
      display: table-cell;
    }

    &:last-child {
      .s-timeline-event-datetime {
        .axis {
          &:before {
            background: transparent !important;
          }
        }
      }
    }
}
