@import "themes/default.scss";
@import "partials/utils";
.notifications-area {
    position: absolute;
    right: 0;
    top: 15%;
    width: 26%;
    z-index: 999;
    background-color: $themePrimaryWhite;
    .show-more-footer, .show-less-footer{
      text-align: center;
      color: $themeNotificationFooterColor;
      cursor: pointer;
      font-weight: bold;
      width: 92px;
      @include border-radius($radius30);
      @extend .mtn6, .p5, .ml41p;
      &:hover{
        opactiy: 0.8;
        background-color: $themeNotificationFooterBgColor;
      }
    }
    .clear-all-header{
      opacity: 0.5;
      width: 76px;
      @include border-radius($radius5);
      @extend .p4, .ml76p, .mb10;
      cursor: pointer;
      border: 1px solid $themeNotifClearAllBorderColor;
      background-color: $themePrimaryWhite;
      text-align: center;
      &:hover{
        opacity: 1;
        background-color: $themeNotifClearAllHoverBgColor;
      }
    }
    .q-notifications{
        min-height: 73px;
        @extend .fs14;
        &.danger{
            border-left: 8px solid $themeDangerAlertBorderColor;
        }
        &.info{
            border-left: 8px solid $themeInfoAlertBorderColor;
        }
        &.success{
            border-left: 8px solid $themeSuccessAlertBorderColor;
        }
        &.warning{
            border-left: 8px solid $themeWarningAlertBorderColor;
        }
        margin-bottom: 1em;
        width: 100%;
        box-shadow: 0 15px 24px -15px rgba(37, 38, 94, 0.1);
        background-color: $themePrimaryWhite;
        border-top: 0.5px solid $themeNotifTopBorderColor;
        @include border-radius($radius5);
        &.slide-out{
            animation: pulses 0.2s linear;
        }
        &.slide-in{
            animation: pulse 0.2s linear;
        }
        &.slide-down{
          animation: down 0.2s linear;
        }
        &.slide-up{
          animation: up 0.2s linear;
        }
        .notification-message{
          overflow: hidden;
          word-break: break-all;
          @extend .vAlignMid;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          color: $themePrimaryGrey;
        }
        .notification-icon {
            i{
              font-weight: 700 !important;
              @extend .vAlignMid;
            }
            &.danger{
              color: $themeDangerAlertIconColor;
            }
            &.warning{
              color: $themeWarningAlertIconColor;
            }
            &.success{
              color: $themeSuccessAlertIconColor;
            }
            &.info{
              color: $themeInfoAlertIconColor;
            }
        }
        .query-progress{
            @extend .mt10;
            min-width: 100px;
        }
        .notification-action{
            border: 0px;
            font-weight: bold;
            outline: 0px;
            float: right;
            @extend .vAlignMid, .ptb5lr10;
            @include border-radius($radius5);
            &.danger{
              background-color: $themeDangerAlertBackgroundColor;
              color: $themeDangerAlertTextColor;
            }
            &.warning{
              background-color: $themeWarningAlertBackgroundColor;
              color: $themeWarningAlertTextColor
            }
            &.success{
              background-color: $themeSuccessAlertBackgroundColor;
              color: $themeSuccessAlertTextColor;
            }
            &.info{
              background-color: $themeInfoAlertBackgroundColor;
              color: $themeInfoAlertTextColor;
            }
        }
        .close-notification{
          font-weight: bold;
          line-height: 1;
          color: $themeSecondaryColor;
          text-shadow: 0 1px 0 $themePrimaryWhite;
          filter: alpha(opacity=20);
          opacity: .2;
          position: relative;
          top: -12px;
          left: 20px;
          cursor: pointer;
          border: 0;
          @extend .removeMargin, .removePadding;
        }
    }
  }

  /*key frames*/
  @keyframes pulse {
    0% {
      margin-left: 100%;
    }
    100% {
      margin-left: 0;
    }
  }

  @keyframes pulses {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 100%;
    }
  }

  @keyframes down {
    0% {
      margin-bottom: -1em;
    }
    100%{
      margin-bottom: 1em;
    }
  }

  @keyframes up {
    0% {
      margin-bottom: 1em;
    }
    100%{
      margin-bottom: -1em;
    }
  }
